.title{
  background-color: #000;
  top: 0%;
  height: 5.938rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 6rem;
}

.left-container {
  max-width: 65%;
  margin-left: 0.625rem;
}


.about-me-container{
  font-size: 3em;
  font-weight: 400;
  padding-right: 10rem;
}


.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
}

.image-title {
  text-align: center;
  font-size: 2.1em;
  font-weight: 700;

}

.image-profile {
  width: 31.25rem;
  height: 43.75rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.625rem;
}

.image-description {
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
}

.image-switch-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.25rem;
}

.arrow-button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s; 
}

.arrow-button:hover .fa-solid {
  display: inline-block;
  transform: scale(1.1); 
  opacity: 0.8;
}

.arrow-button:active .fa-solid {
  transform: scale(1.2); 
}

.fa-solid {
  color: #ffffff;
  display: inline-block;
}



.additional-notes-container {
  margin-top: 1.25rem;

}

.personal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.personal-container p{
  max-width: 40%;
  font-size: 1.9em;
}



.timeline-container {

  margin-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.timeline-container h2 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.cv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 0.125rem solid #ffffff;
  padding: 1rem 0;
  width: 30%;
  margin: auto;
  font-size: 1.4em;
}



@media (max-width: 600px) {
  .cv-container {
    flex-direction: column;
    align-items: start;
  }
}
