<h1>ABOUT</h1>
<div class="info-container">
    <div class="left-container" >
        <h2>MARC PANTS</h2>
        <div class="about-me-text"> 
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>


    <div class="right-container">
        <p class="image-title">TODAY</p>
        <img class="profile-image" src="https://i.ibb.co/9gHsxQ7/rightnowpants.jpg" alt="Aktuelles Bild">
        <p class="image-description">Student BFH</p>
        
        <div class="image-switch-buttons">
            <button class="arrow-button left-arrow">←</button>
            <button class="arrow-button right-arrow">→</button>
        </div>      
        <!--  <script src="script.js"></script> --> 
    </div>
</div>


<div class="skill-container">
    <h2>SKILLS</h2>
    <div class="tech-container"> 
        <div class="logo"> <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML Logo"> </div>
        <div class="logo"> <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/CSS3_logo.svg" alt="CSS Logo"> </div>
        <div class="logo"> <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="TypeScript Logo"> </div>
        <div class="logo"> <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular Logo"> </div>
        <div class="logo"> <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python Logo"> </div>
        <div class="logo"> <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sql_data_base_with_logo.png?20210130181641" alt="SQL Logo"> </div>
    </div>
</div> 





