.title{
  background-color: #000;
  width: 100%;
  height: 5.938rem;
  display: flex;
  align-items: center;
  position: fixed;
}

.info-container {
  display: flex;
  justify-content: space-between;
  border: 3px solid red;
  margin-top: 6rem;
}

.left-container {
  border: 3px solid yellow;
  width: 40%;
  padding: 10px;
}

.about-me-container{
  font-size: 1.5em;
  font-weight: 500;
}


.right-container {
  border: 3px solid lightblue;
}

.image-title {
  text-align: center;
}

.image-profile {
  width: 500px;
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.image-description {
  text-align: center;
}

.image-switch-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arrow-button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s; 
}

.arrow-button:hover .fa-solid {
  display: inline-block;
  transform: scale(1.1); 
}

.arrow-button:active .fa-solid {
  transform: scale(1.2); 
}

.fa-solid {
  color: #ffffff;
  display: inline-block;
}

.skill-container {
  margin: auto;
  width: 40%;
  padding: 10px;
}

.skill-container h2 {
  text-align: center;
}

.tech-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}


.logo {
  width: 11rem; 
  height: 11rem; 
}

.logo img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

