<div class="title">
    <h1>ABOUT</h1>
</div>

<div data-aos="fade-up"
    data-aos-easing="ease-in-out"
    data-aos-duration="800">

    <div class="info-container">
        <div class="left-container" >
            <div class="about-me-container"> 
                <p>Mein Name ist Marc Hösli, 
                    auch bekannt als "Junior" und bin ein Student an der Berner Fachhochschule.  
                </p>
                <p>
                    Derzeit befinde ich mich im 5. Semester des Bachelor-Studiengangs Wirtschaftsinformatik. 
                    Momentan lebe und arbeite ich in Bern.
                </p>
            </div>
        </div>


        <div class="right-container">
            <p class="image-title"></p>
            <img class="image-profile" src="" alt="Aktuelles Bild">
            <p class="image-description"></p>

            <div class="image-switch-buttons">
                <button class="arrow-button left-arrow"> <i class="fa-solid fa-chevron-left fa-lg"></i></button>
                <button class="arrow-button right-arrow"> <i class="fa-solid fa-chevron-right fa-lg"></i></button>
            </div>      
        </div>
    </div>
</div>

<div class="additional-notes-container">
    <div class="personal-container"> 
        <p>
            Ich bin in einem klein Dorf namens Buchrain in Luzern geboren und aufgewachsen. 
            Mit 16 Jahren habe ich eine Lehre als Kaufmann begonnen und erfolgreich abgeschlossen. 
            Während meiner Lehrzeit wurde mir bewusst, dass ich mich eher für die Informatikwelt interessiere statt der Finanzbranche. 
            Somit habe ich mich für ein Wirtschaftsinformatikstudium entschieden. 
        </p>
        <p>
            Wenn ich nicht gerade in der Schule bin, findest du mich oft mit Freunden in gemütlichen Cafés und Bars oder auf der Suche nach dem nächsten Vintage-Store.
            In meiner Freizeit bin ich aktiv und betreibe sehr gerne Sport. Ich liebe es zu essen und zu kochen. Zudem bin ich ein grosser Fan von Design und Mode.
        </p>
    </div>
</div>

<div data-aos="fade-right"
    data-aos-easing="ease-in-out"
    data-aos-duration="800">
    <div class="timeline-container"> 
        <h2>CV</h2>
        <div class="cv-container">
            <div class="activity">Studium</div>
            <div class="year">2021 - Heute</div>
        </div>
        <div class="cv-container">
            <div class="activity">Zivi</div>
            <div class="year">2020 - 2021</div>
        </div>
        <div class="cv-container">
            <div class="activity">BM</div>
            <div class="year">2019 - 2020</div>
        </div>
        <div class="cv-container">
            <div class="activity">KV</div>
            <div class="year">2016 - 2019</div>
        </div>
        <div class="cv-container">
            <div class="activity">Sekundar</div>
            <div class="year">2013 - 2016</div>
        </div>
        <div class="cv-container">
            <div class="activity">Primar</div>
            <div class="year">2007 - 2013</div>
        </div>
    </div>
</div>
    



