<div class="landingpage_container"> 
    <div class="container">
        <h1>WELCOME, TO MY PORTFOLIO!</h1>
        <div class="welcome_container">
            <p>Mein Name ist Marc Hösli. Ich bin Student an der Berner Fachhochschule.</p>
        </div>
    </div>


    <div class="image_container">
        <img class="profile-image" src="https://i.ibb.co/9gHsxQ7/rightnowpants.jpg" alt="Aktuelles Bild">
        <p class="image-title">TODAY</p>
        <p class="image-description">Student BFH</p>
        
        <div class="button"> 
            <button class="toggle-button">switch</button>
        </div>
                
        <script src="script.js"></script>  
    </div>
</div>




