/* styles.css oder in der entsprechenden CSS-Datei deines Projekts */
.navbar {
  background-color: #333;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ffd700; /* Ändere die Farbe für den Hover-Effekt nach Belieben */
}
