.navbar {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 200;
  clip-path: circle(1.563rem at calc(100% - 2.813rem) 2.813rem);
  transition: all 500ms ease-in-out;
}

.navbar.active {
  clip-path: circle(75%);
}

.ham-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  cursor: pointer;
}

.ham-btn span {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 0.156rem;
  background:#000;
  transition:all 200ms ease-in-out;
}

.ham-btn span:nth-child(1) {
  top: 35%;
}

.ham-btn span:nth-child(2) {
  top: 50%;
}

.ham-btn span:nth-child(3) {
  top: 65%;
}

.active .ham-btn span:nth-child(1) {
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.active .ham-btn span:nth-child(2) {
  display:none;
}

.active .ham-btn span:nth-child(3) {
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}

ul, ol {
  list-style: none;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.links a {
  position: relative;
  display: inline-block;
  margin: 1.25rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.313rem;
}

.links a:after {
  content: "";
  position: absolute;
  left: 0rem;
  bottom: -0.312rem;
  height: 0.25rem;
  width: 0%;
  border-radius: 0.25rem;
  background: orange;
  transition: all 300ms ease-in-out;
}

.links a:hover:after {
  width: 100%;
}