<h1>CONTACT</h1>

<div class="contact-container">
    <div class="mail-container">
        <p>Now, I'd love to hear from you. Send me a message!</p>
        <div class="mail-wrapper">
            <a href="mailto:marcleo.hoesli@gmail.com">marcleo.hoesli@gmail.com</a>
        </div>
    </div>

    <div class="link-container">
        <h2>Let's Connect</h2>
        <div class="link-wrapper">
            <div class="linktext"> <a href="https://www.instagram.com/moremarcleo" target="_blank">INSTAGRAM</a></div>
            <div class="linktext"> <a href="https://vsco.co/moremarcleo/gallery" target="_blank">VSCO</a></div>
            <div class="linktext"> <a href="https://github.com/callmemarcleo" target="_blank">GITHUB</a></div>            
        </div>
    </div>
</div>


