
<div class="title">
    <h1>CONTACT</h1>
</div>
    
<div class="contact-container">
    <div class="mail-container">
        <p>Now, I'd love to hear from you. <br>Send me a message!</p>
        <div class="mail-wrapper">
            <a href="mailto:marcleo.hoesli@gmail.com">marc.hoesli&#64;gmail.com</a>
        </div>
    </div>

    <div class="link-container">
        <div class="gif-container">
            <img src="https://i.pinimg.com/originals/6c/90/28/6c90288d7e10d46d18895f17f420a92c.gif" alt="GIF-Beschreibung">
        </div>

        <div class="link-wrapper">
            <p class="link-header"> Let's Connect</p>
            <div class="linktext"> <a href="https://www.instagram.com/moremarcleo" target="_blank">INSTAGRAM</a></div>
            <div class="linktext"> <a href="https://vsco.co/moremarcleo/gallery" target="_blank">VSCO</a></div>
            <div class="linktext"> <a href="https://github.com/callmemarcleo" target="_blank">GITHUB</a></div>            
        </div>
    </div> 
</div>