
<div class="container1">
    <div class="contact_logo_container">
        <div><h1>contact</h1></div>
    </div>
</div>

<div class="container2">
    <div class="contact_container">
        <div>
            <h1>Now, I'd love to hear from you!</h1>
            <a href="marcleo.hoesli@gmail.com">marcleo.hoesli@gmail.com</a>
        </div>
    </div>
</div>

<div class="container3">
    <div class="link_container">
        <h2>Let's Connect</h2>
        <div class="linktext"> <a href="https://www.instagram.com/moremarcleo">INSTAGRAM</a></div>
        <div class="linktext"> <a href="https://vsco.co/moremarcleo/gallery">VSCO</a></div>
        <div class="linktext"> <a href="https://github.com/callmemarcleo">GITHUB</a></div>                
    </div>
</div>


<div class="container4">
    <div class="hompagebutton_container">
        <div><button>HOMEPAGE</button></div>
    </div>
</div>
