<div class="container">
    <div class="welcome_container">
        <h1>WELCOME, TO MY PORFOLIO!</h1>
        <p>Mein Name ist Marc Hösli. Ich bin Student an der Berner Fachhochschule.</p>
    </div>
</div>

<div class="container">
    <div id="image_container">
        <img id="profile-image" src="https://i.ibb.co/9gHsxQ7/rightnowpants.jpg" alt="Aktuelles Bild">
        <p id="image-title">TODAY</p>
        <p id="image-description">Student BFH</p>
    </div>


    <button id="toggle-button">Wechseln</button>

    <script src="script.js"></script>
    
</div>

