/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Nacelle', sans-serif;
  background-color: #000;
  color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 95svh;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}