/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    /* Weitere globale Stile hier hinzufügen */
    margin: 0;
    padding: 0;
  }